<div class="row" style="margin-top:40px;">
	<div class="photo col-xs-12 col-sm-offset-2">
		<img src="<%= asset_path 'me-right.png' %>"/> 
	</div>
	<div class="blurb col-xs-12 col-sm-5 col-sm-offset-1">
		I am a full stack developer who enjoys creating creative solutions.  I am always trying to learn new techniques to improve my abilities.  No problem can't be solved with a little effort and research.

		In my spare time, I enjoy playing soccer, working out, hiking and spending time with my family.  I try to accomplish something everyday, because life is just too short to waste.
	</div>
</div>
