ul li, ul{
	list-style-type:none;
}



#main-nav > li{
	top:200px;
	position:relative;
	/*position:static;*/
	float:left;
	padding:7px 8px;
	border:solid 1px white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:white;
	
	background: #0f5357;
	background: -moz-linear-gradient(top, #1274CE 0%, #0C5292 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1274CE), color-stop(100%,#0C5292));
	background: -webkit-linear-gradient(top, #1274CE 0%,#0C5292 100%);
	background: -o-linear-gradient(top, #1274CE 0%,#0C5292 100%);
	background: -ms-linear-gradient(top, #1274CE 0%,#0C5292 100%);
	background: linear-gradient(to bottom, #1274CE 0%,#0C5292 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1274CE', endColorstr='#0C5292',GradientType=0 );

}

#main-nav li ul { 
	display:none;
	position:absolute;
	top:20px;
	left:-20px;
}

#main-nav li:hover ul { 
	display:block;
}


#main-nav li:active, #main-nav li:hover { 
	color: white;
}